# venv
venv/

# logs
logs/


# Python
__pycache__/
*.py[cod]
*.so

# Distribution / Build
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp

# Project Specific
recordings/



